version: "3.9"

services:
  laravel:
    image: laravel-swoole
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel-app
    ports:
      - "8080:1215" # host:container
    volumes:
      - ./:/var/www/html
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
      APP_KEY: base64:Sa86RzaulCuGMTZmMafwEZAHRXOcVeZ00fGIRhdq/qM=
      DB_HOST: mysql
      DB_PORT: 3306
      DB_DATABASE: laravel
      DB_USERNAME: root
      DB_PASSWORD: secret
      REDIS_HOST: redis
      REDIS_PORT: 6375
    depends_on:
      - mysql
      - redis

  mysql:
    image: mysql:8.0
    container_name: laravel-mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
    volumes:
      - mysql-data:/var/lib/mysql

  redis:
    image: redis:7
    container_name: laravel-redis
    ports:
      - "6375:6379"
    volumes:
      - redis-data:/data

volumes:
  mysql-data:
  redis-data:
